# Question 1

In [1]:
def c(a):
    return a+2

In [2]:
a=0
def b():
    global a
    a=c(a)

In [3]:
b() ##Global a gets 0+2 and gets stored in a

1.We have a global variable a with an initial value of 0 since it's defined outside of any function.

2.When the function b() is first executed, it references the global variable a. This means that within the b() function, any reference to a will use the global a, not a local one.

3.In b(), there's an assignment a = c(a). This calls the function c() and passes the global value of a as a parameter.

4.Inside c(), it takes the parameter a and returns a + 2. This effectively increases the value of a by 2.

5.The control then returns from c() to the assignment a = c(a) in b(), and the value returned by c() is stored in the global a.

6.As a result, the value of a becomes 0 (the initial value) plus 2, so a is set to 2.

In [4]:
b()

1.The global variable a already has a value of 2, which was set in the previous step.

2.When b() is called, it refers to the global variable a. Inside the b() function, any reference to a will use the global a, not a local one.

3.There's an assignment a = c(a) within b(), which invokes the function c() and passes the global value of a as a parameter.

4.Inside the c() function, it takes the parameter a and returns a + 2, effectively increasing the value of a by 2.

5.Control then returns from c() to the assignment a = c(a) in b(), and the value returned by c() is stored in the global a.

6.Since the global a already had a value of 2, after this execution, the value becomes 2 (the previous value) plus 2, resulting in a being set to 4.

In [5]:
b()

1.The global variable a already holds the value 4, which was set in the previous step.

2.When b() is called, it continues to reference the global variable a. Within the b() function, any reference to a uses the global a, not a local one.

3.There's an assignment a = c(a) within b(), invoking the function c() and passing the global value of a as a parameter.

4.Inside the c() function, it takes the parameter a and returns a + 2, effectively increasing the value of a by 2.

5.Control then returns from c() to the assignment a = c(a) in b(), and the value returned by c() is stored in the global a.

6.With the global a initially set to 4, after this execution, the value becomes 4 (the previous value) plus 2, resulting in a being set to 6.

In [6]:
a

6

# Question 2

In [7]:
def fileLength(f_name):
    try:
        file = open(f_name)
        values = file.read()
        file.close()
        print(len(values))
    except FileNotFoundError:
        print(f"File {f_name} is not found.")
    
        

fileLength(r'C:\Users\User1\Desktop\test.txt')
fileLength(r'C:\Users\User1\Desktop\test123.txt')

File C:\Users\User1\Desktop\test.txt is not found.
File C:\Users\User1\Desktop\test123.txt is not found.

# Question 3

In [8]:
class Marsupial: 
    def __init__(self):
        self.pouch = []
    
    def pouch_contents(self):
        return self.pouch
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [9]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [10]:
def collatz(x):
    print(x)
    if x == 1:
        return 
    elif x % 2 == 0:
        x = x // 2
        return collatz(x)
    else:
        x = 3 * x + 1
        return collatz(x)

print('collatz(1)')        
collatz(1)
print('collatz(10)')
collatz(10)

collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

# Question 5

In [11]:
def binary(n):
    if n <0: 
        print("Enter a non negative number")
    elif n==0:
        return
    else :
        binary(n//2)
    print(n%2,end='')

In [12]:
binary(9)

1001

In [13]:
binary(7)

111

# Question 6

In [6]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []  # Store headings
        self.in_heading = False  # To track if we're inside a heading

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.in_heading = True
            self.headings.append((int(tag[1]), ""))

    def handle_data(self, data):
        if self.in_heading:
            if self.headings:
                self.headings[-1] = (self.headings[-1][0], self.headings[-1][1] + data.strip())

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False

    def print_headings(self):
        for level, text in self.headings:
            indentation = "  " * (level - 1)  # Two spaces per indentation level
            print(f"{indentation}{text}")

if __name__ == "__main__":
    # Test your HeadingParser class
    infile = open('w3c.txt', 'r', encoding='utf-8')
    content = infile.read()
    infile.close()

    hp = HeadingParser()
    hp.feed(content)

    hp.print_headings()

W3C Mission
  Principles

# Question 7

In [7]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    if depth == 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")
        return

    soup = BeautifulSoup(response.text, 'html.parser')

    # Print the current URL with appropriate indentation
    print(" " * indent + url)

    # Find and visit linked web pages
    links = soup.find_all('a', href=True)
    for link in links:
        next_url = link['href']

        # Resolve relative links to absolute URLs
        next_url = urljoin(url, next_url)

        webdir(next_url, depth - 1, indent + 2)

# Example usage with the provided web page:
webdir('http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html', 2, 0)

http://web.simmons.edu/~grovesd/comm244/notes/week3/html-test-page.html
  http://web.simmons.edu/~grovesd/comm244/notes/week3/css-linking#internal
  http://web.simmons.edu/~grovesd/comm244
  http://web.simmons.edu/~grovesd/comm244/week3

# Question 8

In [14]:
import pandas as pd
import sqlite3

# Creating sqlite3 database
conn = sqlite3.connect('Weatherdata.db')

# Creating table 
conn.execute('''CREATE TABLE seasons_data
            (City TEXT, Country TEXT, Season TEXT, Temperature FLOAT, Rainfall FLOAT)''')

# Inserting data into the seasons_data table
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Winter' , 4.2,207.7)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Spring' , 8.3,169.6)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Summer' , 15.7,157.0)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Fall' , 10.4,218.5)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Winter' , 13.6, 16.5)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Spring' , 20.7, 6.5)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Summer' , 27.7, 0.1)")
conn.execute("INSERT INTO seasons_data (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Fall' , 22.2, 4.5)")

In [15]:
a = pd.DataFrame(conn.execute("SELECT Temperature FROM seasons_data"))

a.columns = ['Temperature']
a

    Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

In [16]:
b = pd.DataFrame(conn.execute("SELECT DISTINCT City FROM seasons_data"))

b.columns = ['City']
b

     City
0  Mumbai
1  London
2   Cairo

In [17]:
c = pd.DataFrame(conn.execute("SELECT * FROM seasons_data WHERE Country='India'"))

c.columns = ['City', 'Country', 'Season', 'Temperature', 'Rainfall']
c

     City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

In [18]:
d = pd.DataFrame(conn.execute("SELECT * FROM seasons_data WHERE Season='Fall'"))

d.columns = ['City', 'Country', 'Season', 'Temperature', 'Rainfall']
d

     City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

In [19]:
e = pd.DataFrame(conn.execute("""
    SELECT City, Country, Season
    FROM seasons_data
    GROUP BY City, Country, Season
    HAVING AVG(Rainfall) BETWEEN 200 AND 400
"""))

e.columns = ['City', 'Country', 'Season']
e

     City         Country  Season
0  London  United Kingdom    Fall
1  London  United Kingdom  Winter
2  Mumbai           India    Fall

In [20]:
f = pd.DataFrame(conn.execute("""
    SELECT City, Country
    FROM seasons_data
    WHERE Season='Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature)
"""))

f.columns = ['City', 'Country']
f

     City Country
0   Cairo   Egypt
1  Mumbai   India

In [21]:
g = pd.DataFrame(conn.execute("""
    SELECT SUM(Rainfall) AS total_annual_rainfall
    FROM seasons_data
    WHERE City='Cairo'
"""))

g = g.rename(columns={0: 'Total Annual Rainfall'})
g

   Total Annual Rainfall
0                   27.6

In [22]:
h = pd.DataFrame(conn.execute("""
    SELECT Season, SUM(Rainfall) AS total_rainfall
    FROM seasons_data
    GROUP BY Season
"""))
h = h.rename(columns={0: 'Season', 1: 'Total Rainfall'})
h

   Season  Total Rainfall
0    Fall           569.0
1  Spring           192.3
2  Summer          1706.5
3  Winter           230.1

In [23]:

# Commit changes and close the connection
conn.commit()
conn.close()

# Question 9

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

print('a> ',end='')
w_up=[word.upper() for word in words]
print(w_up)

print('b> ',end='')
w_lo=[word.lower() for word in words]
print(w_lo)

print('c> ',end='')
w_len=[len(word) for word in words]
print(w_len)

print('d> ',end='')
w_ull=[[word.upper(),word.lower(),len(word)] for word in words]
print(w_ull)

print('e> ',end='')
w_ull=[ word for word in words if len(word)>3]
print(w_ull)

a> ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b> ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c> [3, 5, 5, 3, 5, 4, 3, 4, 3]
d> [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e> ['quick', 'brown', 'jumps', 'over', 'lazy']